<p>Welcome to OW2con!</p>
<p>You should be automatically member of 4 differents Rocket.Chat rooms:</p>
<ul>
  <li><a title="ow2con room" href="/channel/ow2con">ow2con</a>: the main room that will notify you when a new discussion dedicated to a talk is created. This room is read only.</li>
  <li><a title="say-hello room" href="/channel/say-hello">say-hello</a>: this is the room to hangout and get in touch with other OW2con attendees</li>
  <li><a title="help room" href="/channel/help">help</a>: go to this room if you need any assitance with OW2con platform</li>
  <li><a title="feedback room" href="/channel/feedback">feedback</a>: we would love to hear your thoughts about this edition of OW2con!</li>
</ul>