/* Layout */

/* Use flex in row (instead of default column) for the body to get the video on the right instead of the bottom */
/* Might be an issue with message of connection status */
body {
  flex-direction: row;
}

/* The div on the left that includes both sidebar and chat */
/* Resize the container of side bar and chat */
/* flex 4/10 */
#react-root {
  flex: 4;
}

/* Video container div */
/* flex 6/10 */
div.rc-popout-wrapper.rc-popout-- {
  /* Avoid the default absolute position */
  position: static;
  flex: 6;
}

/* Resize the side bar */
/* flex 16/40 */
aside.sidebar {
  flex: 16;
  width: auto;
  max-width: none;
}

/* Resize the chat */
/* 24/40 */
div.rc-old.main-content.content-background-color {
  flex: 24;
}

/* Configure buttons at the top of the sidebar to wrap in order to allow sidebar to be smaller */
div.rcx-css-vi4iz8 {
  flex-wrap: wrap;
}

/* To allow element in the chat header to be displayed correctly on several lines */
header.rcx-css-7tefqp, div.rcx-css-1apkof4 {
  /* Avoid the default fixed height of 4em */
  height: auto !important;
}

/* Div with room name, star, and room description */
div.rcx-css-1g12j7u {
  /* Default 1px */
  width: auto;
}

/* Allow wrap of room description. Class apply to 2 containers: room name and room description */
div.rcx-css-1wbzm0a {
  white-space: normal;
}

/* Hide # before room name */
div.rc-box.rcx-box--full.rcx-sidebar-item__icon[name="hash"], div.rc-box.rcx-box--full.rcx-sidebar-item__icon[name="baloons"], div.rc-box.rcx-box--full.rcx-sidebar-item__icon[name="hashtag-lock"]{
  display: none;
}

/* Hide some buttons in the chat header: 
 * - Favorite button
 * - Threads button
 * - Presentation Chats
 * - Members
 * - Search Messages
 * - Files
 */
button[data-title="Favorite"], button[data-title="Threads"], button[data-title="Presentation Chats"], button[data-title="Search Messages"], button[data-title="Files"], button[title="Favorite"], button[title="Threads"], button[title="Presentation Chats"], button[title="Search Messages"], button[title="Files"] {
  display: none;
}

div.rcx-css-1n09zs3, div.rcx-css-1te28na {
  overflow: visible;
  text-overflow: unset;
  white-space: normal;
}

/* Announcement blink with background */
div.rcx-css-4wru5q {
  /* Animated gif */
  background: url('https://www.ow2con.org/download/2020/WebHome/pulseColor.gif');
  color: white;
  background-color: rgb(68, 68, 68);
}

div.rcx-css-4wru5q:hover, div.rcx-css-4wru5q:focus {
  color: #f0f0f0;
}

/* For video display not in a popup but on the right using all space available  */
div.rc-popout, section.rc-popout__content, div.streaming-popup, div.streaming-popup iframe {
  width: 100%;
  height: 100%;
  max-width: none;
}

/* To allow the contextual bar to cover all the chat area to avoid issue of being partially hidden by the video */
div.contextual-bar {
  position: absolute;
  width: 100%;
}

/* Keep logo ratio */
footer.sidebar__footer:not(:empty), footer.sidebar__footer:not(:empty) img {
  width: 100%;
  max-width: 20em;
  height: auto;
}

/* Same color behind video as behind left sidebar */
div.rc-popout.rc-popout--open, header.rc-popout__header, div.html5-video-player, div.ytp-offline-slate-bar {
  background-color: var(--sidebar-background);
  border-color: var(--sidebar-background);
  color: var(--info-font-color);
}

/* Warn User about OW2 Account */
.warn {
  font-weight: bold;
  color: red
}

/* Make placeholder text more visible */
.rc-input__element::placeholder {
  color: #B1B3B4;
}

/* Make warning about email being sent on registration more visible */
#login-card > header:nth-child(2) > p:nth-child(2) {
	font-weight: bold;
}

form#id  div.rc-input.rc-w50.padded {
  flex: auto;

}

.rc-w50.padded:nth-child(2n+1) {
  padding-right: 0;
}

.rc-old #login-card .input-line input {
  border-width: var(--input-border-width);
  border-color: var(--input-border-color);
  border-radius: var(--input-border-radius);
  font-size: var(--input-font-size);
  width: 100%;
  padding: 0 1rem;
  height: 2.5rem;
}

.rc-old #login-card .input-line label {
  color: #666;
  font-size: var(--input-font-size);
  text-transform: capitalize;
  font-weight: bold;
}

.rc-old #login-card .rc-w50 {
  flex: 0 0 100%;
}

.rc-old #login-card .input-line label::after {
  content: ": ";
}

.rc-old #login-card div.rc-w50.padded:nth-child(2n) {
  padding-left: 0px;
}

div.rc-form-group.rc-grid {
  margin-bottom: 0;
}